.filter-search-modal-container {
  height: 40rem;
  width: 60rem;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(50% + 45px);
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.filter-search-modal-header {
  width: 100%;
  height: 5rem;
  background: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.filter-search-modal-header svg {
  color: white;
  position: absolute;
  font-size: 3rem;
  cursor: pointer;
  left: 10px;
}

.filter-search-modal-header svg:hover {
  color: rgb(235, 235, 235);
}

.filter-search-modal-header h1 {
  color: white !important;
  font-size: 2.5rem !important;
  margin: 0;
}

.filter-search-modal-content {
  flex: 1;
}

@media screen and (max-width: 870px) {
  .filter-search-modal-container {
    width: 98%;
  }
}

@media screen and (max-width: 768px) {
  .filter-search-modal-container {
    top: calc(50% + 35px);
  }
  .filter-search-modal-header h1 {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 575px) {
  .filter-search-modal-header {
    height: 3.5rem;
  }
  .filter-search-modal-header h1 {
    font-size: 1.7rem !important;
  }
}

@media screen and (max-width: 500px) {
  .filter-search-modal-header h1 {
    font-size: 1.4rem !important;
  }
  .filter-search-modal-header svg {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 400px) {
  .filter-search-modal-header h1 {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 342px) {
  .filter-search-modal-header h1 {
    margin-left: 2rem !important;
  }
}

@media screen and (max-height: 650px) {
  .filter-search-modal-container {
    overflow-y: scroll;
    height: 80%;
    /* top: 60%; */
  }
  .filter-search-modal-header h1 {
    font-size: 1.2rem !important;
  }
  .filter-search-modal-header svg {
    font-size: 2.2rem;
  }
  .filter-search-modal-header {
    height: 3.5rem;
  }
}
