.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../../assets/img/background/homebackground.jpg);
  height: 100%;
}
.backgroundimg {
  background-size: cover;
}

.toptext {
  padding-top: 16.5%;
  padding-bottom: 2%;
  font-weight: bolder;
  font-size: 380%;
  color: white;
}

.toprow {
  padding-bottom: 2%;
}

.bottext {
  color: white;
  padding-top: 2%;
  padding-bottom: 16.5%;
  font-size: 160%;
}

.booknowbutton {
  font-size: 16px;
  margin-left: 0.5%;
  height: 50px;
  width: 100px;
  color: white;
  background: var(--color-green);
  border-radius: 8px;
  border-color: #02b188;
  color: white;
  -webkit-transition: transform 0.5s ease 0s;
  -moz-transition: transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
}

.booknowbutton:hover {
  transform: scale(1.01);
  background-color: #01c490;
  cursor: pointer;
}

@media screen and (max-width: 372px) {
  .booknowbutton {
    font-size: 16px !important;
    height: 40px;
    width: 90px;
  }
}

.book-header-container {
  display: flex;
}

@media screen and (max-width: 620px) {
  .book-header-container {
    flex-direction: column;
    align-items: center;
  }
  .quote-date {
    font-size: 1rem;
  }
}

.inputtextbox {
  height: 50px;
  width: 350px;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 8px;
  border-color: white;
  border-radius: 10px;
  border: 1px solid var(--color-green);
  padding-left: 15px;
}

@media screen and (max-width: 372px) {
  .inputtextbox {
    font-size: 16px;
    width: 300px;
  }
}

.overall-subscribe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subscribe-text {
  text-align: center !important;
}

.subscribe-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
}

.subscribe-text {
  font-size: 1.2rem !important;
}

.footer-item {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.3rem;
}

.footer-item:hover {
  color: rgb(212, 212, 212);
}

.search-filter-btn {
  background: var(--color-green);
  margin-left: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-filter-btn:hover {
  background: #01c490;
}

@media screen and (max-width: 372px) {
  .search-filter-btn {
    padding: 0.5rem 1rem;
  }
  .search-filter-btn img {
    height: 1.8rem;
  }
}
