.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../../assets/img/background/homebackground.jpg);
  height: 100%;
}
.backgroundimg {
  background-size: cover;
}

.toptext {
  padding-top: 16.5%;
  padding-bottom: 2%;
  font-weight: bolder;
  font-size: 380%;
  color: white;
}

.toprow {
  padding-bottom: 2%;
}

.bottext {
  color: white;
  padding-top: 2%;
  padding-bottom: 16.5%;
  font-size: 160%;
}

.booknowbutton {
  font-size: 16px;
  margin-left: .5%;
  height: 50px;
  width: 100px;
  color: white;
  background: var(--color-green);
  border-radius: 8px;
  border-color: #02b188;
  color: white;
  -webkit-transition: transform 0.5s ease 0s;
     -moz-transition: transform 0.5s ease 0s;
       -o-transition: transform 0.5s ease 0s;
          transition: transform 0.5s ease 0s;
}

.booknowbutton:hover {
  transform: scale(1.01);
  background-color: #01c490;
  cursor:pointer;
}

.inputtextbox {
  height: 50px;
  width: 350px;
  background-color: white;
  font-size: 16px;
  border-radius: 8px;
  border-color: white;
  border-radius: 10px;
  border: 1px solid var(--color-green);
  padding-left: 15px;
}

.overall-subscribe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subscribe-text {
  text-align: center !important;
}

.subscribe-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
}
