.content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/img/background/arizona.jpg");
  background-size: cover;
  margin-bottom: -3%;
  height: 100%;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../../assets/img/background/arizona.jpg");
  }
}

.contact_1 {
  height: 170px;
  width: 100%;
}

textarea.input {
  padding: 25px;
  width: 65%;
}

.radius10 {
  border-radius: 10px;
}

.separate {
  width: 95%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 29px 0 25px;
}

.separate span {
  padding: 0 10px;
  color: white;
  font-size: 25px;
}

.color-white {
  color: #ffff;
}

.ctc-input {
  padding: 10px;
  margin: 0px 50px 0px 50px;
}

.input {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  font-weight: 500;
  border-radius: 30px;
  transition: border-color 0.3s;
  color: white;
  padding: 12px;
}

input,
textarea {
  background: transparent;
  outline: none;
  resize: none;
}

.input.border-transparent-white {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.green {
  background: #02b188 !important;
  color: #fff !important;
}

.btn.action-3 {
  background-color: #4caf50;
  color: #fff;
}

.action-3 {
  color: #4caf50;
}

.btn {
  cursor: pointer;
  vertical-align: top;
  height: 50px;
  line-height: 50px;
  padding: 0px 30px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  background: transparent;
  transition: all 0.25s;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.small {
  color: white;
  opacity: 0.5;
}

.contact-info {
  padding-bottom: 2%;
  text-align: -webkit-center;
  padding-bottom: 5%;
}
