.container {
  margin: 5% 5% 5% 5%;
}

#spinner {
  visibility: visible;
  width: 70px;
  height: 70px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid#00b183;
  border-radius: 100%;

  margin: auto;

  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
