#signup-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../../assets/img/background/horseshoe.jpg");
  background-size: cover;
  text-align: -webkit-center;
  display: block;
  padding-bottom: 10%;
  height: 100%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.signup-title {
  color: rgb(49, 71, 59);
  font-size: 48px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.botText {
  font-size: 18px;
  color: #31473b;
}

.checkbox {
  color: #31473b;
  margin: 1%;
  font-size: 16px;
}

.login-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../assets/img/background/horseshoe.jpg");
  background-size: cover;
  padding-bottom: 10%;
  text-align: -webkit-center;
  height: 100%;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .login-content {
    background-image: url(../../assets/img/background/horseshoe.jpg);
  }
}

.login-form {
  background-color: white;
  max-width: fit-content;
  display: inline-flex;
  border-radius: 10px;
  padding: 2% 5%;
  margin-top: 5%;
}

form.form {
  padding: 20px;
}

.login-input {
  margin: 2% 0;
  width: 350px;
  border: 2px solid rgb(210 210 210 / 47%);
}

.btn {
  margin: 3% 0;
}

.botText {
  font-size: 18px;
  color: #31473b;
}

#spinner {
  visibility: visible;
  width: 70px;
  height: 70px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid#00b183;
  border-radius: 100%;
  margin: auto;
  animation: spin 0.8s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
