* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --color-darkgreen: #094a38;
  --color-green: #00b183;
  --color-darkgrey: #5a7184;
  --color-black: #222222;
  --color-white: #ffffff;
  --color-orange: #eab98f;
}

body {
  margin: 0;
  font-style: normal;
  font-size: 16px;
}

.intro_text {
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--color-darkgreen);
  padding: 10px 0;
  display: inline;
}

@media screen and (max-width: 374px) {
  .intro_text {
    font-size: 1.2rem;
  }
}

.why-graphic {
  width: 250px;
}

@media screen and (max-width: 620px) {
  .why-graphic {
    width: 200px;
  }
}

.AM-graphic {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .illustration {
    width: 350px;
    padding-top: 60px;
  }
}

.why-caption {
  font-size: 1.5rem !important;
}

@media screen and (max-width: 620px) {
  .why-title {
    font-size: 3rem !important;
  }
  .why-caption {
    font-size: 1.2rem !important;
  }
}

.amenities-header {
  margin-bottom: 50px;
}

.subtitle2 {
  color: var(--color-darkgrey);
  font-size: 1.8rem;
  font-weight: 500;
  padding: 10px 0;
  line-height: 30px;
}

.home-card {
  text-align: center;
  padding: 10px;
  background-color: white;
  display: block;
  position: relative;
}

.design {
  padding: 70px 0;
  text-align: center;
  background-color: rgba(222, 238, 236, 0.6);
}

.number {
  width: 48px;
  height: 48px;
  border: solid 1px #3cba92c2;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-sec {
  width: 36px;
  height: 36px;
  box-shadow: 0 10px 15px 0 rgba(21, 37, 71, 0.15);
  background-color: var(--color-green);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/*testimonial*/

.testimonial-reel {
  margin-bottom: 4rem !important;
  margin-top: 4rem;
}
.testimonial-reel .box {
  position: relative;
  margin-bottom: 30px;
}
.testimonial-reel .box .image {
  margin: 0 auto -45px;
  text-align: center;
}
.testimonial-reel .box .image img {
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
}
.testimonial-reel .box .test-component {
  background-color: #fff;
  padding: 1rem 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  min-height: 200px;
  border-radius: 10px;
}
.testimonial-reel .box .test-title {
  font-size: 1.5rem;
  color: var(--color-orange);
  text-align: center;
  margin-top: 3.3rem;
  margin-bottom: 15px;
}
.testimonial-reel .box .test-content {
  text-align: center;
}
.testimonial-reel .slick-slide {
  opacity: 0.3;
  transition: opacity 0.3s;
  padding-left: 1rem;
  padding-right: 1rem;
}
.testimonial-reel .slick-slide.slick-cloned {
  opacity: 0.3;
  transition: opacity 0.3s;
}
.testimonial-reel .slick-slide.slick-current.slick-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.quote {
  font-style: italic;
  font-weight: 200 !important;
  font-size: 16px !important;
  text-align: center !important;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: var(--color-green);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--color-green);
}

/*subscribe*/

.login_bar {
  width: 300px;
  height: 50px;
  background: white;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 1px solid var(--color-green);
}

.login {
  background: transparent;
  position: absolute;
  height: 100%;
  width: 190px;
  padding-left: 10px;
  text-align: left;
  line-height: 50px;
  vertical-align: middle;
  z-index: 10;
  -webkit-transition: transform 0.2s ease-in-out 0s;
  -moz-transition: transform 0.2s ease-in-out 0s;
  -o-transition: transform 0.2s ease-in-out 0s;
  transition: transform 0.2s ease-in-out 0s;
}

.login_active {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}

.subscribe_button:hover {
  background-color: #01c490;
  cursor: pointer;
}

.subscribe_button {
  background: var(--color-green);
  position: absolute;
  top: -50px;
  left: 200px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 150px;
  width: 100px;
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
  color: white;
  -webkit-transition: transform 0.5s ease 0s;
  -moz-transition: transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
}

.subscribe_button_active {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}

.subscribing {
  background: var(--color-green);
  height: 100%;
  width: 300px;
  z-index: 5;
  position: absolute;
  left: -300px;
  display: inline-block;
  -webkit-transition: transform 1s ease 0s;
  -moz-transition: transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s;
}

.subscribing_active {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}

.thanks {
  color: white;
  background: transparent;
  height: 100%;
  width: 300px;
  z-index: 5;
  text-align: left;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 10px;
  position: absolute;
  top: 50px;
  display: inline-block;
  -webkit-transition: transform 0.5s ease 0s;
  -moz-transition: transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
}

.thanks_active {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}

input {
  font-size: 1rem;
  border: none;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  outline: none;
}
