#reservationLookupModal-page {
  height: fit-content;
  padding: 0px 0px 0px;
  min-width: fit-content;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  place-content: center;
  align-items: center;
  height: -webkit-fill-available;
}

.reservation-modal-content {
  box-shadow: 0px 5px 20px 1px rgba(107, 101, 101, 0.2);
  border-radius: 10px;
  margin: auto;
  max-width: fit-content;
  min-width: 500px;
  max-height: fit-content;
  min-height: 400px;
  background-color: white;
  padding: 60px;
  margin: 20px;
}

.reservation-modal-p {
  text-align: center !important;
}

.reservation-modal-p.error {
  color: rgb(192, 36, 36) !important;
}

.reservation-modal-exit {
  color: var(--color-green) !important;
  font-weight: 600;
  font-size: 18px !important;
  display: inline;
  cursor: pointer;
}

.reservation-modal-exit:hover {
  color: #2a9761 !important;
}

.modal-content:target {
  height: 40px;
}

.searchbutton {
  padding: 0;
  font-size: 16px;
  height: 50px;
  width: 100px;
  color: white;
  background: var(--color-green);
  border-radius: 8px;
  border-color: #02b188;
  color: white;
  -webkit-transition: transform 0.5s ease 0s;
  -moz-transition: transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
}

.searchbutton:hover {
  transform: scale(1.01);
  background-color: #01c490;
  cursor: pointer;
}

.exit {
  font-size: 16px !important;
  color: var(--color-green) !important;
}

.exit:hover {
  font-weight: bold;
  cursor: pointer;
}

.botText {
  font-size: 18px;
  color: #31473b;
}

.listingImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.listingInfo {
  text-align: center !important;
}

.reservation-input {
  width: 300px;
  height: 50px;
  background: white;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 2px solid rgb(210 210 210 / 47%);
}

.reservation-input:focus {
  border: 2px solid var(--color-green);
}

@media screen and (max-width: 585px) {
  .reservation-modal-content {
    min-width: 400px;
    padding: 40px;
  }
}

@media screen and (max-width: 440px) {
  .reservation-modal-content {
    min-width: 350px;
    padding: 20px;
  }
}

@media screen and (max-width: 370px) {
  .reservation-modal-content {
    min-width: 300px;
    padding: 10px;
  }
}

@media screen and (max-height: 670px) {
  .reservation-modal-content {
    margin-top: 7rem;
  }
}
