#all-listings-page {
  background-color: white;
  height: 100%;
  background-size: cover;
  overflow: auto;
  margin-top: 8rem;
}

.container {
  margin-top: 8%;
}

.close {
  float: right;
}

.textbox {
  width: 5%;
}

.filter.btn {
  margin: 1%;
}

.locations {
  padding-left: 2%;
  padding-right: 2%;
}

#matches-component-filtering {
  display: block;
}

#filtering-inputs {
  float: left;
}

.matches-banner {
  background-color: rgba(0, 177, 131, 0.4) !important;
  border-radius: 10px;
  height: 190px;
  padding: 60px 0;
}

.banner-text {
  color: white !important;
  text-shadow: 1px 1px 10px #000000;
}

.click-for-more {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  #all-listings-page {
    margin-top: 5rem;
  }
}
