@import "~react-image-gallery/styles/css/image-gallery.css";

.container_s {
  margin-top: 8% !important;
}

.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.reservation-image {
  width: 100%;
  border: 1px solid black;
  margin: 20px 0px;
}

.listing-title {
  font-size: 32px !important;
}

.listing-location {
  font-size: 18px !important;
  font-weight: bold !important;
}

.listing-description {
  font-size: 16px !important;
}

.listing-details {
  float: left !important;
  max-width: 70% !important;
}

.listing-calendar {
  float: right !important;
}

.reserve-now {
  float: right !important;
  width: auto;
  padding-right: 13% !important;
  padding-top: 0 !important;
}

.details {
  text-align: left;
  font-size: 16px;
}

.MuiPagination-root {
  margin: 0 25%;
}

.MuiPagination-ul {
  margin: 5% auto 5% auto !important;
  width: max-content;
}

.Mui-selected {
  background-color: #10B68B !important;
  color: white !important;
}

.MuiPaginationItem-page:hover {
  background-color: #10B68B !important;
  color: white !important;
}