@import "~react-image-gallery/styles/css/image-gallery.css";

.container_s {
  margin-top: 8% !important;
}

.Selectable
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.reservation-image {
  width: 100%;
  border: 1px solid black;
  margin: 20px 0px;
}

.listing-title {
  font-size: 32px !important;
}

.listing-location {
  font-size: 18px !important;
  font-weight: bold !important;
}

.listing-description {
  font-size: 16px !important;
}

.listing-details {
  float: left !important;
  max-width: 70% !important;
}

.listing-calendar {
  float: right !important;
}

.reserve-now {
  float: right !important;
  width: auto;
  padding-right: 13% !important;
  padding-top: 0 !important;
}

.details {
  text-align: left;
  font-size: 16px;
}

.MuiPagination-root {
  margin: 0 25%;
}

.MuiPagination-ul {
  margin: 5% auto 5% auto !important;
  width: max-content;
}

.Mui-selected {
  background-color: #10b68b !important;
  color: white !important;
}

.MuiPaginationItem-page:hover {
  background-color: #10b68b !important;
  color: white !important;
}

.individual-listing-container {
  max-width: 964px;
  margin: 0 auto;
  margin-top: 8rem;
}

@media screen and (max-width: 1015px) {
  .individual-listing-container {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .individual-listing-container {
    margin-top: 6rem;
  }
}

.image-gallery-image {
  max-height: 43rem !important;
}

@media screen and (max-width: 990px) {
  .image-gallery-image {
    width: 95% !important;
  }
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 0;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background: var(--color-green);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .image-gallery-left-nav,
  .image-gallery-right-nav {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 800px) {
  .image-gallery-arrow-icon {
    width: 25px !important;
    height: 25px !important;
  }
}

.image-gallery-arrow-icon:hover {
  transform: scale(1.1);
  color: inherit;
}

.image-gallery-icon {
  filter: none;
}

.image-gallery-icon:hover {
  color: white;
}

.image-gallery-bullet {
  background: #c4c4c4 !important;
  border: none !important;
  box-shadow: none !important;
}

.image-gallery-bullet.active {
  background: var(--color-green) !important;
}
