.editProfileInput {
  height: 40px;
  border-radius: 25px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  text-indent: 1%;
}

.editProfileInput:hover {
  background-color: #00b1821d;
}

.editProfileLabel {
  font-weight: bold;
  padding-bottom: .5%;
  padding-top: .5%;
}
