#filter-page {
  height: fit-content;
  padding: 0px 0px 40px;
}

.modal-content {
  background-color: #ffffffc4;
  position: static;
  padding: 10px;
  text-align: left;
  transition: all 0.5s ease-in-out;
  animation: slide-down 0.5s steps(70, end);
  border-radius: 5px;
}

.modal-content:target {
  height: 40px;
}

.filter-container {
  margin: 2% 30% 0 30%;
}

@keyframes slide-down {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: 89px;
    opacity: 0.5;
  }
  75% {
    height: 117px;
    opacity: 0.7;
  }
  100% {
    height: fit-content;
    opacity: 1;
  }
}

.filter-choices {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
