.listing-item {
  margin: 2% 26%;
  padding: 1% 0%;
  border-radius: 6px;
  background: white;
  box-shadow: 1px 1px 7px 2px #787878;
}

.listing-information {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-image {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  margin: 20px 0px;
}
