#matches-page {
  background-color: white;
  height: 100%;
  background-size: cover;
  overflow: auto;
}

.container {
  margin-top: 10% !important;
}

.close {
  float: right;
}

.textbox {
  width: 5%;
}

.filter.btn {
  margin: 1%;
}

.locations {
  padding-left: 2%;
  padding-right: 2%;
}

#matches-component-filtering {
  display: block;
}

#filtering-inputs {
  float: left;
}
