.modal_content {
  background-color: white;
  position: static;
  border: 2px solid black;
  padding: 2px;
  text-align: left;
}

.filter_container {
  margin: 0 30% 0 30%;
}

.container {
  margin: 10% 10% 10% 10%;
}

.close {
  float: right;
}

.textbox {
  width: 5%;
}
