#matches-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../assets/img/background/homebackground.jpg");
  /* height: 100%; */
  min-height: -webkit-fill-available;
}

.container {
  margin: 10% 10% 10% 10%;
}

.close {
  float: right;
}

.textbox {
  width: 5%;
}
