.details-wrapper {
  display: flex;
  width: 200px;
  margin-left: 19%;
  align-items: center;
  align-self: center;
}

.overall-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  margin-bottom: 8%;
}

.beds {
  display: flex;
}

.baths {
  display: flex;
}

.maxppl {
  display: flex;
}

.input-label-details {
  font-weight: bold;
  font-size: 120%;
  padding: 3%;
  padding-top: 3%;
  padding-bottom: 5%;
  color: #4d4842;
}

.input-box-details {
  width: 70px;
  background-color: white;
  border-radius: 5px;
  height: 40px;
  padding-left: 2%;
  font-size: 100%;
  border-radius: 15px;
  border: 2px solid rgb(210 210 210 / 47%);
  color: #4d4842;
}
