.listing-wrapper {
  display: flex;
}

.listing-inputs {
  display: flex;
  flex-direction: column;
}

.label-text {
  margin-top: 4px;
  font-weight: bold;
  font-size: 120%;
  color: #4d4842;
}

.gen-subsec {
  display: flex;
  padding-top: 8px;
}

.streetInputbox {
  margin-left: 18%;
  margin-bottom: 3%;
  padding-left: 5%;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 12px;
}

.cityInputBox {
  margin-left: 23.2%;
  margin-bottom: 3%;
  padding-left: 5%;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 12px;
}

.stateInputBox {
  margin-left: 20%;
  margin-bottom: 3%;
  padding-left: 5%;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 12px;
}

.countryInputBox {
  margin-left: 13%;
  margin-bottom: 3%;
  padding-left: 5%;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 12px;
}

.zipInputBox {
  margin-left: 13%;
  margin-bottom: 3%;
  padding-left: 5%;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 12px;
}

.aptnumInputBox {
  margin-left: 6.4%;
  margin-bottom: 3%;
  padding-left: 5%;
  height: 30px;
  width: 220px;
  border-radius: 15px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 12px;
}
