.homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../../assets/img/background/homebackground.jpg);
  height: 100%;
}
.backgroundimg {
  background-size: cover;
}

.toptext {
  padding-top: 16.5%;
  padding-bottom: 2%;
  font-weight: bolder;
  font-size: 380%;
  color: white;
}

.toprow {
  padding-bottom: 2%;
}

.bottext {
  color: white;
  padding-top: 2%;
  padding-bottom: 16.5%;
  font-size: 160%;
}

.booknowbutton {
  font-size: 16px;
  margin-left: 1%;
  height: 55px;
  width: 100px;
  color: white;
  background-color: #02b188;
  border-radius: 8px;
  border-color: #02b188;
}

.booknowbutton:hover {
  transform: scale(1.05);
}

.inputtextbox {
  height: 50px;
  width: 350px;
  background-color: white;
  font-size: 16px;
  border-radius: 8px;
  border-color: white;
}
