.spinner-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    align-items: center;
    justify-content: center;
}

#spinner {
  width: 300px;
  height: 300px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid#00b183;
  border-radius: 100%;

  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row1 {
  width: 100% !important;
  justify-content: space-between;
  display: flex;
}

.row2 {
  padding-top: 0;
  display: flex;
  justify-content: center;
}

.spaceRight {
  padding-right: 1% !important;
}

.detailLabel {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 120%;
  padding-left: 3%;
  color: #4d4842;
}
