.footer {
  width: 100%;
  margin: 10 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #363434;
}

.footer li {
  display: inline-block;
}

.footer li a {
  display: block;
  padding: 18px 15px;
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
}
