.footer {
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  margin: auto;
  position: fixed;
  background-color: #b2d1bd;
  opacity: 0.55;
  bottom: 0;
}

.footer li {
  display: inline-block;
}

.footer li a {
  display: block;
  padding: 3px 20px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
