.navbar {
  float: left;
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  /*background-color: rgba(200, 200, 200, 0.3);*/
}

.nav-left li {
  float: left;
}

.nav-right li {
  float: right;
  margin-top: 1%;
  margin-right: 0.5%;
}

.mainlogo {
  width: 90px;
  padding: 10px 15px;
}

.nav-right li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  font-size: large;
  color: white;
}

.loginbut {
  height: 50px;
  width: 100px;
  margin-left: 1%;
  font-weight: bolder;
  background-color: #02b188;
  border-radius: 12px;
}

.loginbut:hover {
  transform: scale(1.05)
}

.signbut {
  height: 50px;
  width: 100px;
  margin: auto;
  font-weight: bolder;
  background-color: #02b188;
  border-radius: 12px;
}

.signbut:hover {
  transform: scale(1.05)
}
