.navbar {
  float: left;
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}

.nav-left li {
  float: left;
}

.nav-right li {
  float: right;
  margin-top: 0.5%;
  margin-right: 0.5%;
}

.mainlogo {
  width: 100px;
  padding: 10px 15px;
}

.nav-right li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;

  font-size: large;
  color: whitesmoke;
}

.loginbut {
  margin-left: 3%;
  font-weight: bolder;
  background-color: #02b188;
  border-radius: 12px;
}

.signbut {
  margin-left: 11px;
  font-weight: bolder;
  background-color: #02b188;
  border-radius: 12px;
}
