.navbar {
  float: left;
  width: 100%;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}

.nav-left li {
  float: left;
}

.nav-right li {
  float: right;
}

.mainlogo {
  width: 100px;
  padding: 10px 15px;
}

.nav-right li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;

  font-size: large;
  color: whitesmoke;
  border-right: 1px solid #13111a;
}
