.fullListingBackground {
  background-image: white;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  padding-top: 150px;
}

.overallListingForm {
  box-shadow: 1px 1px 7px 2px #787878;
  margin: auto;
  max-width: fit-content;
  background-color: white;
  display: inline-flex;
  padding: 60px;
  border-radius: 2%;
  margin-bottom: 2% !important;
}

.startText {
  color: #00b183;
  font-weight: 800;
  font-size: 370%;
  padding-bottom: 5%;
  padding-top: 2%;
}

.questionText {
  color: #7e9388;
  font-size: 140%;
  padding-bottom: 2%;
}

.textInputBox {
  width: 98%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  height: 100px;
  border-radius: 25px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
}

.textInputBox:hover {
  background-color: #00b1821d;
}

.descriptionTextInputBox {
  width: 98%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  height: 300px;
  border-radius: 25px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
  background-color: white;
}

.priceInputBox {
  margin-bottom: 5%;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
  background-color: white;
}

.changebut {
  color: #00b183;
  background: white;
  margin: 5px;
  margin-top: 8%;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid #00b183;
  transition: 0.3s;
}
.changebut:hover {
  color: white;
  background-color: #00b183;
}

.changebut:active {
  background-color: #00b183;
  transition: 0.01ms;
}

.changebut:after {
  color: #00b183;
  background-color: white;
  transition: 0s;
}
#spinner {
  visibility: visible;
  width: 70px;
  height: 70px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid#00b183;
  border-radius: 100%;
  margin: auto;
  animation: spin 0.8s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.confirm-text {
  text-align: center !important;
}

.header-text {
  text-align: center !important;
}

.import-calendar {
  margin-bottom: 0 !important;
  padding-bottom: 0;
  float: left;
}
