.amenities-checkbox {
  height: auto;
}

.amenities-list {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.no-amenities-check {
  float: left !important;
  margin-top: 5px !important;
}

.create-listing-amenity-container {
  margin: 0 10px;
}

.create-listing-amenities-container {
  margin-bottom: 50px;
}

#create-listing-amenity {
  cursor: pointer;
  transition: transform 0.2s;
}

#create-listing-amenity:hover {
  transform: scale(1.2);
}

.create-listing-amenity-text {
  font-size: 16px !important;
  font-weight: normal !important;
}

.create-listing-no-amenities {
  pointer-events: none;
  font-size: 25px !important;
  color: #dbdbdb;
}

.create-listing-no-amenities.active {
  color: var(--color-green);
}

@media screen and (max-width: 650px) {
  #create-listing-amenity {
    height: 35px;
  }
  #create-listing-amenity-disabled {
    height: 35px;
  }
  .create-listing-amenity-text {
    font-size: 12px !important;
    margin-top: 0;
  }
}

@media screen and (max-width: 530px) {
  .amenities-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .create-listing-amenity-container {
    margin: 0 20px;
  }
}

.fullListingBackground {
  background-color: white;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.overallListingForm {
  box-shadow: 0px 35px 60px rgba(132, 132, 132, 0.25);
  margin: 0 2rem;
  width: 60rem;
  background-color: white;
  display: inline-flex;
  border-radius: 5px;
  margin-bottom: 5rem !important;
  overflow: hidden;
}

.create-listing-content {
  padding: 10px 8rem;
  display: flex;
  flex-direction: column;
}

.startText {
  color: #00b183;
  font-weight: 800;
  font-size: 370%;
  padding-bottom: 5%;
  padding-top: 2%;
}

.questionText {
  color: #575759;
  font-size: 250%;
  padding-bottom: 2%;
}

.textInputBox {
  width: 98%;
  padding: 15px;
  height: auto;
  border-radius: 25px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
}

.textInputBox:hover {
  background-color: #00b1821d;
}

.descriptionTextInputBox:hover {
  background-color: #00b1821d;
}

.descriptionTextInputBox {
  width: 100% !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  height: 300px;
  border-radius: 25px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
  background-color: white;
}

.priceInputBox {
  margin-bottom: 5%;
  width: 50%;
  padding: 7px 15px;
  border-radius: 10px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
  background-color: white;
  text-align: center;
  font-size: 20px;
}

.priceInputBox:invalid {
  box-shadow: none;
}

.priceInputBoxinput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.priceInputBox:hover {
  background-color: inherit;
}

.priceInputBox:focus {
  border: 2px solid var(--color-green);
}

.changebut {
  color: #00b183;
  background: white;
  margin: 5px;
  margin-top: 8%;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid #00b183;
  transition: 0.3s;
}
.changebut:hover {
  color: white;
  background-color: #00b183;
}

.changebut:active {
  background-color: #00b183;
  transition: 0.01ms;
}

.changebut:after {
  color: #00b183;
  background-color: white;
  transition: 0s;
}
#spinner {
  visibility: visible;
  width: 70px;
  height: 70px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid#00b183;
  border-radius: 100%;
  margin: auto;
  animation: spin 0.8s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.confirm-text {
  text-align: center !important;
}

.header-text {
  text-align: center !important;
}

.import-calendar {
  margin-bottom: 0 !important;
  padding-bottom: 0;
  float: left;
}

.import-info {
  margin-bottom: 0 !important;
  padding-bottom: 0;
  cursor: pointer;
  padding-left: 3% !important;
  width: 100% !important;
  float: left !important;
}

span.import-info {
  text-align: left;
}

.characters-left {
  color: #7e9388;
  margin-top: 5px;
}

.upload-file {
  width: 50%;
  margin: auto;
  text-align: center;
}

.bad-image {
  color: red;
}

.price-details {
  text-align: center !important;
  margin-top: -3%;
}

.create-listing-header {
  background: var(--color-green);
  position: relative;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-listing-header h1 {
  color: white !important;
  font-weight: 500 !important;
  font-size: 2.5rem !important;
  padding: 0;
  margin: 0;
}

.create-listing-back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: white;
  cursor: pointer;
}

.create-listing-back svg {
  font-size: 3rem !important;
}

.create-listing-back:hover {
  color: white !important;
}

.create-listing-title-input {
  width: 100%;
  padding: 15px;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
}

.create-listing-title-input:focus {
  border: 2px solid var(--color-green);
}

.create-listing-input.autofill {
  width: 100% !important;
  padding: 7px 15px;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 16px;
}

.create-listing-input {
  width: 80%;
  padding: 7px 15px;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 16px;
}

.create-listing-input:focus {
  border: 2px solid var(--color-green);
}

.create-listing-input-container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.create-listing-clear-address-button {
  background: var(--color-green);
  padding: 5px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.create-listing-clear-address-button:hover {
  transform: scale(1.05);
}

.create-listing-clear-address-button h4 {
  color: white !important;
  margin: 0 !important;
  font-weight: 500 !important;
}

.create-listing-calendarURL {
  width: 100%;
  padding: 7px 15px;
  border-radius: 10px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 16px;
}

.create-listing-next-button {
  color: var(--color-green);
  background: white;
  font-size: 20px;
  margin: 5px;
  margin-bottom: 3rem;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid #00b183;
  transition: 0.3s;
  cursor: pointer;
}

.create-listing-next-button:hover {
  color: white;
  background: var(--color-green);
}
.create-listing-next-button:focus {
  outline: none;
}

.confirm-container {
  padding: 0 10px;
}

.confirm-listing-header {
  background: var(--color-green);
  color: white !important;
  font-size: 2.5rem !important;
}

.confirm-listing-subtitle {
  font-size: 2.5rem !important;
}

.confirm-listing-text-container {
  margin-bottom: 1rem;
}
.confirm-listing-text-container span {
  font-weight: bold;
}

.confirm-listing-text {
  text-align: center !important;
  font-size: 1.7rem !important;
  display: flex;
  flex-direction: column;
}
.confirm-listing-text.dates {
  display: block;
}
.confirm-listing-text.dates span {
  font-weight: bold;
}

.confirm-listing-button {
  color: var(--color-green);
  font-size: 20px;
  background: white;
  margin: 5px;
  margin: 2rem 0.5rem;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid var(--color-green);
  transition: 0.3s;
  cursor: pointer;
}

.confirm-listing-button:hover {
  color: white;
  background-color: #00b183;
}

@media screen and (max-width: 870px) {
  .overallListingForm {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 800px) {
  .create-listing-content {
    padding: 10px 2rem;
  }
}

@media screen and (max-width: 768px) {
  .fullListingBackground {
    padding-top: 7rem;
  }
}

@media screen and (max-width: 670px) {
  .create-listing-input {
    width: 65%;
  }
  .css-18ozde5-container {
    width: 65% !important;
  }
}

@media screen and (max-width: 540px) {
  .details-wrapper {
    width: 85% !important;
  }
}

@media screen and (max-width: 530px) {
  .create-listing-header {
    height: 3rem;
  }
  .create-listing-header h1 {
    font-size: 2rem !important;
  }
  .confirm-listing-button {
    font-size: 16px;
    height: 40px;
    width: 100px;
  }
}

@media screen and (max-width: 440px) {
  .create-listing-content {
    padding: 10px 0.7rem;
  }
  .create-listing-title-input {
    font-size: 12px;
  }
  .confirm-listing-header {
    font-size: 1.9rem !important;
  }
  .confirm-listing-subtitle {
    font-size: 1.8rem !important;
  }
  .confirm-listing-text {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 375px) {
  .create-listing-input {
    width: 60%;
  }
  .css-18ozde5-container {
    width: 60% !important;
  }
  .confirm-listing-button {
    width: 90px;
    margin: 2rem 2px;
  }
}

.details-wrapper {
  display: inline-block;
  width: 50%;
  align-content: center;
  margin: 20px 0;
}

.beds {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.baths {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.maxppl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-label-details {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 120% !important;
  padding: 5%;
  color: #4d4842;
}

.input-box-details {
  width: 50%;
  padding: 7px 15px;
  background-color: white;
  border-radius: 10px;
  margin: 8px 0;
  border: 2px solid rgb(210 210 210 / 47%);
  color: #4d4842;
  text-align: center;
  font-size: 20px;
}

.input-box-details:hover {
  background-color: inherit;
}

.input-box-details:focus {
  border: 2px solid var(--color-green);
}

.create-listing-details-label {
  font-size: 120% !important;
  color: #4d4842;
  font-weight: bold;
}

.listing-wrapper {
  display: flex;
}

.listing-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-text {
  margin-top: 4px;
  padding-right: 25px;
  font-weight: bold;
  font-size: 120%;
  color: #4d4842;
}

.gen-subsec {
  display: flex;
  padding-top: 8px;
}
.inputBox {
  margin-bottom: 3%;
  padding-left: 2%;
  height: 30px;
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgb(210 210 210 / 80%);
  background-color: white;
  color: #4d4842;
  font-size: 12px;
}

.inputBox:hover {
  background-color: #00b1821d;
}

.stateInputBox {
  vertical-align: middle;
  margin-bottom: 3%;
}

.single-img-container {
  position: relative;
}

.single-img-container .delete-btn {
  position: absolute;
  transform: translate(-100%, 0%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ea5d5d;
  color: white;
  font-size: 16px;
  width: 20px;
  padding: 12px 20px 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.single-img-container .delete-btn:hover {
  background-color: red;
}

.create-listing-photos-container {
  margin-bottom: 20px;
}

.create-listing-confirmation-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-file[type="file"] {
  display: none;
  height: 0;
  overflow: hidden;
  width: 0;
  visibility: hidden;
}

.select-img {
  border-radius: 0.5rem;
  border: solid 3px #00b183;
  /* font-weight: bolder; */
  margin: 0 auto;
  padding: 1rem;
  transition: all 250ms ease;
  width: 10rem;
}

.select-img:hover {
  background-color: #00b183;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 490px) {
  .create-listing-image {
    max-height: 150px !important;
  }
  .upload-file {
    width: 80%;
  }
}
