.fullListingBackground {
  background-color: white;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
}

.overallListingForm {
  box-shadow: 0px 35px 60px rgba(132, 132, 132, 0.25);
  margin: 0 2rem;
  width: 60rem;
  background-color: white;
  display: inline-flex;
  border-radius: 5px;
  margin-bottom: 2% !important;
  overflow: hidden;
}

.create-listing-content {
  padding: 10px 8rem;
  display: flex;
  flex-direction: column;
}

.startText {
  color: #00b183;
  font-weight: 800;
  font-size: 370%;
  padding-bottom: 5%;
  padding-top: 2%;
}

.questionText {
  color: #575759;
  font-size: 250%;
  padding-bottom: 2%;
}

.textInputBox {
  width: 98%;
  padding: 15px;
  height: auto;
  border-radius: 25px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
}

.textInputBox:hover {
  background-color: #00b1821d;
}

.descriptionTextInputBox:hover {
  background-color: #00b1821d;
}

.descriptionTextInputBox {
  width: 100% !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  height: 300px;
  border-radius: 25px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
  background-color: white;
}

.priceInputBox {
  margin-bottom: 5%;
  width: 50%;
  padding: 7px 15px;
  border-radius: 10px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
  background-color: white;
  text-align: center;
  font-size: 20px;
}

.priceInputBox:hover {
  background-color: inherit;
}

.priceInputBox:focus {
  border: 2px solid var(--color-green);
}

.changebut {
  color: #00b183;
  background: white;
  margin: 5px;
  margin-top: 8%;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid #00b183;
  transition: 0.3s;
}
.changebut:hover {
  color: white;
  background-color: #00b183;
}

.changebut:active {
  background-color: #00b183;
  transition: 0.01ms;
}

.changebut:after {
  color: #00b183;
  background-color: white;
  transition: 0s;
}
#spinner {
  visibility: visible;
  width: 70px;
  height: 70px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid#00b183;
  border-radius: 100%;
  margin: auto;
  animation: spin 0.8s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.confirm-text {
  text-align: center !important;
}

.header-text {
  text-align: center !important;
}

.import-calendar {
  margin-bottom: 0 !important;
  padding-bottom: 0;
  float: left;
}

.import-info {
  margin-bottom: 0 !important;
  padding-bottom: 0;
  cursor: pointer;
  padding-left: 3% !important;
  width: 100% !important;
  float: left !important;
}

span.import-info {
  text-align: left;
}

.characters-left {
  color: #7e9388;
  margin-top: 5px;
}

.upload-file {
  width: 50%;
  margin: auto;
  text-align: center;
}

.bad-image {
  color: red;
}

.price-details {
  text-align: center !important;
  margin-top: -3%;
}

.create-listing-header {
  background: var(--color-green);
  position: relative;
  height: 5rem;
  width: 100%;
}

.create-listing-header h1 {
  color: white !important;
  font-weight: 500 !important;
  font-size: 2.5rem !important;
  padding: 0;
  margin: 0;
}

.create-listing-back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: white;
  cursor: pointer;
}

.create-listing-back svg {
  font-size: 3rem !important;
}

.create-listing-back:hover {
  color: white !important;
}

.create-listing-title-input {
  width: 100%;
  padding: 15px;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 15px;
}

.create-listing-input.autofill {
  width: 100% !important;
  padding: 7px 15px;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 16px;
}

.create-listing-input {
  width: 80%;
  padding: 7px 15px;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 16px;
}

.create-listing-input:focus {
  border: 2px solid var(--color-green);
}

.create-listing-input-container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.create-listing-clear-address-button {
  background: var(--color-green);
  padding: 5px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.create-listing-clear-address-button:hover {
  transform: scale(1.05);
}

.create-listing-clear-address-button h4 {
  color: white !important;
  margin: 0 !important;
  font-weight: 500 !important;
}

.create-listing-calendarURL {
  width: 100%;
  padding: 7px 15px;
  border-radius: 10px;
  border: 2px solid rgb(210 210 210 / 47%);
  background-color: white;
  color: #4d4842;
  font-size: 16px;
}

.create-listing-next-button {
  color: var(--color-green);
  background: white;
  font-size: 20px;
  margin: 5px;
  margin-bottom: 3rem;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid #00b183;
  transition: 0.3s;
  cursor: pointer;
}

.create-listing-next-button:hover {
  color: white;
  background: var(--color-green);
}
.create-listing-next-button:focus {
  outline: none;
}
