.details-wrapper {
  display: inline-block;
  width: 200px;
  align-content: center;
}

.overall-details {
  margin-bottom: 8%;
}

.beds {
  display: flex;
}

.baths {
  display: flex;
}

.maxppl {
  display: flex;
}

.input-label-details {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 120%;
  padding: 3%;
  padding-top: 3%;
  padding-bottom: 5%;
  color: #4d4842;
  vertical-align: middle;
}

.input-box-details {
  width: 70px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  height: 40px;
  padding-left: 2%;
  font-size: 100%;
  border-radius: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
  border: 2px solid rgb(210 210 210 / 47%);
  color: #4d4842;
}
