.login-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../assets/img/background/horseshoe.jpg");
  background-size: cover;
  text-align: -webkit-center;
  height: 100%;
  position: relative;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .login-content {
    background-image: url(../../assets/img/background/horseshoe.jpg);
  }
}

.login-form-container {
  background-color: white;
  display: inline-flex;
  border-radius: 10px;
  padding: 2% 5%;
  position: absolute;
  top: calc(45px + 50%);
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40rem;
}

form.form {
  padding: 20px;
}

.login-form-width {
  width: 100%;
}

.login-form {
  background-color: white;
  display: inline-flex;
  border-radius: 10px;
  padding: 2% 5%;
  margin-top: 5%;
}

.login-input {
  margin: 2% 0;
  width: 100%;
  border: 2px solid rgb(210 210 210 / 47%);
  border-radius: 20px !important;
  padding-left: 3%;
  font-size: 16px;
}

.login-input:focus {
  border: 2px solid var(--color-green);
}

.btn {
  margin: 3% 0;
}

.botText {
  font-size: 18px;
  color: #31473b;
}

.sign-up-a:hover {
  text-decoration: underline !important;
}

.google-sign-in-container {
  padding-bottom: 1.2rem;
}
