.listing-item {
  margin: 2% 25%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 7px 2px #787878;
  cursor: pointer;
}

.listing-item a {
  padding: 1%;
  min-height: 100%;
  min-width: 100%;
}

.listing-information {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-image {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  margin: 20px 0px;
}

.material-ui-dialogmodal {
  display: flex;
  place-content: center;
  align-items: center;
  height: -webkit-fill-available;
}

.vert-menu {
  vertical-align: middle;
  cursor: pointer;
}

.listings-container {
  margin: 0 auto;
}

.account-listing-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.account-listing-buttons-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.account-listing-button {
  color: white;
  background: var(--color-green);
  border-radius: 20px;
  font-size: 16px;
  font-weight: normal;
  display: inline;
  padding: 10px 20px;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.account-listing-button:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.account-listing-menu-button {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.account-listing-no-listing {
  font-size: 20px !important;
  margin-top: 2rem !important;
}

@media screen and (max-width: 420px) {
  .account-listing-button {
    font-size: 12px !important;
  }
  .account-listing-button a {
    font-size: 12px !important;
  }
  .account-listing-no-listing {
    font-size: 1rem !important;
  }
}
